body {
  background-color: #D8D8D8;
}

main {

}

header {
  height: 100px;
  width: 100%;
  background-color: #000;
}

.first {
  height: 80vh;
  width: 60%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.second {
  height: 10vh;
  width: 60%;
  background-color: black;
  margin: auto;
}
